{% extends 'base.html.twig' %}
{% block body %}
<h1 class="title">A propos de nous?</h1>
<div id="about">
<p>Nozama en France : une contribution positive à l’économie Nous servons avec passion nos clients en France. Toutefois, si nous pensons d’abord à eux, nous accordons également la plus grande importance à notre empreinte économique, sociale et environnementale au niveau local. En mettant toute notre énergie, notre savoir-faire et notre capacité d’innovation au service des Français, nous contribuons à la croissance de l’économie française. Nous souhaitions partager un aperçu de la manière dont nous contribuons à la croissance de l’économie française, à la création de milliers d’emplois, au financement des services publics et du modèle social français ; tout en prenant soin de préserver l’environnement. </p>
<div class="panier_recap">
<a href="/"><img style="height:60px" alt="logo_corp" src="/image/logo.png"/></a>
<p style="font-size: 1.5rem;">Nozama</p>
</div>
</div>
{% endblock %}