{% extends 'base.html.twig' %}
{% block body %}
<div id="home">
	<p>Rechercher un article : </p>
{{ form(form) }}
<h1 style="margin-top: 50px;">Voici tous nos produits:</h1>
<div class="card_home">
{% for item in produits %}


<div class="card">
    <img class="card-img-top" src="{{item.image}}" style="height:200px; width: 200px" alt="shop_{{item.titre}}">
    <div class="card-body">
      <h5 class="card-title">{{item.titre}}</h5>
      <p class="card-text">{{item.description}}</p>
      <p class="card-text"><small class="text-muted">{{item.prix}} $ TTC</small></p>
	  {% if app.user %}
			<a href="/produit/{{item.id}}" class="btn btn-primary">
				Voir ce produit</a>
				{% endif %}
				{% if app.user == null %}
			<a href="/login" class="btn btn-primary">
				Voir ce produit</a>
				{% endif %}
    </div>
	</div>
		<!-- <div class="card-header p-3 mb-2 mt-4 bg-secondary text-white w-50 p-3 text-center">
			<p>{{item.titre}}</p>
            <img src="{{item.image}}"  alt="shop_{{item.titre}}"/>

			<p>{{item.description}}</p>
            <p>{{item.prix}} $</p>
            <p>il reste : {{item.stock}} {{item.titre}} en stock</p>
			{% if app.user %}
			<a href="/produit/{{item.id}}" class="btn btn-primary">
				Voir ce produit</a>
				{% endif %}
				{% if app.user == null %}
			<a href="/login" class="btn btn-primary">
				Voir ce produit</a>
				{% endif %}
		</div> -->
			

		{% endfor %}
	</div>
		{{ knp_pagination_render(produits) }}
    </div>
{% endblock %}