{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}
{% if app.request.method == 'POST' %}
    <div>
        {% if produits == null %} 
       <h4>Aucun resultat pour votre recherche <a href="/">Retour a la boutique</a></h4>
     {% endif %}
        {% if produits %}
               <h3 style="text-align: center;"class="mt-3">Vos résulats de recherche :</h3>
               
               {% for item in produits %}
                   <div class="mt-3 p-3 bg-light border rounded" style="display: flex; justify-content: center;">

                        <div class="card-header p-3 mb-2 bg-secondary text-white w-50 p-3" style=" text-align: center;
                        border-radius: 20px;">
                            <p>{{item.titre}}</p>
                            <img style="height: 100px;" src="{{item.image}}"/>
                
                            <p>{{item.description}}</p>
                            <p>{{item.prix}} $</p>
                            <p>il n'en reste que : {{item.stock}}</p>
                            <a href="/produit/{{item.id}}" class="btn btn-primary">
                                Voir ce post</a>
                            <a href="/" class="btn btn-primary">
                                    Retour</a>
                        </div>
                              <!-- <div class="text-dark small p-1 rounded">
                                   
                              </div> -->
                       </a>
                   </div>
              {% endfor %}
          {% endif %}
          
           
          {% endif %}
</div>
{% endblock %}
