{% extends 'base.html.twig' %}
{% block body %}
{% if size != 0 %}
<h1 style="text-align: center;">Voici votre panier:</h1>
<div id="panier">
{% for item in produit %}
<div class="card">
		<div class="card-header p-3 mb-2 w-50 p-3 text-center">
            
			<p>{{item.titre}}</p>
            <img src="{{item.image}}"/>

			<p>{{item.description}}</p>
            <p>{{item.prix}} $ TTC</p>
            <p>il reste : {{item.stock}} {{item.titre}} en stock</p>
			{% if app.user %}
			<a href="/produit/{{item.id}}/del" class="btn btn-primary">
				Supprimer du panier</a>
				{% endif %}
				{% if app.user == null %}
			<a href="/login" class="btn btn-primary">
				Voir ce produit</a>
				{% endif %}
		</div>
	</div>

		{% endfor %}
	</div>
	</div>
	<div class="panier_recap">
	<div class="card">
        <p>Voici le recapitulatif :</p>
		<p>Vous avez {{size}} articles</p>
        <p>Montant TTC à payer: {{prix}}</p>
		<p>Dont TVA : {{TVA}}</p>
		<a href="/" class="btn btn-primary">
			Valider la commande</a>
	</div>
</div>
    </div>
	{% endif %}
	{% if size == 0 %}
	<div style="height: 60vh; display: flex; justify-content: center;">
	<p>Désolé, votre panier est vide. <a href="/" alt="back">Retour a la boutique</a></p>
</div>
	{% endif %}
        {% endblock %}