{% extends 'base.html.twig' %}
{% block body %}
<div class="panier_recap">
	<h1>Voici l'ensemble des produits disponibles:</h1>
{% for item in produits %}
<div class="card">
		<div class="card-header p-3 mb-2 w-50 p-3 text-center">
			<p>{{item.titre}}</p>
            <img src="{{item.image}}"/>

			<p>{{item.description}}</p>
            <p>{{item.prix}} $ TTC</p>
            <p>il reste : {{item.stock}} {{item.titre}} en stock</p>
			{% if app.user %}
			<a href="/produit/{{item.id}}" class="btn btn-primary">
				Voir ce produit</a>
				{% endif %}
				{% if app.user == null %}
			<a href="/login" class="btn btn-primary">
				Voir ce produit</a>
				{% endif %}
		</div>
	   </div>
		{% endfor %}
	
 
	{{ knp_pagination_render(produits) }}
</div>
        {% endblock %}