{% extends 'base.html.twig' %}
{% block body %}

    {# 
Ici j'affiche les posts grace a la variable "data" envoyé depuis le PostController 
#}


    {% if data %}
    <div style="display:flex; flex-direction: column;
align-items: center;">
    <div class="card-header p-3 mb-2 w-50 p-3" style=" text-align: center; border-radius: 20px;">
        <p>{{data.titre}}</p>
        <img alt="product_{{data.titre}}"style="height: 100px;" src="{{data.image}}"/>

        <p>{{data.description}}</p>
        <p>{{data.prix}} $ TTC</p>
        <p>il n'en reste que : {{data.stock}}</p>
        {% if data.stock > 0 %}
        <a href="/produit/{{data.id}}/add" class="btn btn-primary">
            Acheter</a> 
            {% endif %}
            {% if data.stock <= 0 %}
        <a href="/" class="btn btn-primary">
            Article Indisponible</a> 
            {% endif %}
        <a href="/" class="btn btn-primary">
            Retour</a>
    </div>
    </div>
{% endif %}

{% endblock %}