nav {
    font-family: 'Bangers', cursive;
    flex-direction:row; 
    list-style: none;
}

.title {
    text-align: center;
}
.title_corp {
    font-size: 30rem;
}


#about {
    margin-left: 90px;
    margin-right: 90px;
    height: 60vh;
    margin-top: 80px;
}

#form{
    display: flex;
    justify-content: center;
}
.collapse.navbar-collapse.image{
    flex-direction: column;
    width: 0px
}

.collapse.navbar-collapse.connect{
    justify-content: flex-end;
}
footer {
    display: flex; 
    align-items: center; 
    justify-content: center;
    
}

/* #card_home{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.card {
    display:flex; 
    flex-direction: column;
    align-items: center;
   text-align: center; 
   border-radius: 20px;
   -webkit-box-shadow: 1px 5px 18px 5px rgba(0,0,0,0.96); 
box-shadow: 1px 5px 18px 5px rgba(0,0,0,0.96);
 
width: 60%; 
margin: 20px;
   
}

#panier{
display: flex;
flex-direction: column;
align-items: center;


}

.panier_recap{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    }

#home{
    display: flex;
    text-align: center; 
    border-radius: 20px;
    flex-direction: column;
    align-items: center;

}

.nav-item {
    font-size: 1.3rem;
}



img {
    height:100px ;
}
.card_home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}


@media (max-width: 600px) {
    .card_home{
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
    }
    img {
        height: 80px
    }
    #home{
        display: flex;
        text-align: center; 
        border-radius: 20px;
        flex-direction: column;
        align-items: center;

    }

    footer {
        height: 10%
    }
    
    .pagination {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .card {
        display:flex; 
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        -webkit-box-shadow: 1px 5px 18px 5px rgb(0 0 0 / 96%);
        box-shadow: 1px 5px 18px 5px rgb(0 0 0 / 96%);
        
         width: 100%; 
        margin: 20px;
    }
}