<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dancing+Script:wght@700&family=Roboto:wght@300&display=swap');
            </style>
           
              
        <meta charset="UTF-8">
        <html lang="fr">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">	<script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="index.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
     
        {% block navbar %}
        {% if app.user %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <div class="collapse navbar-collapse image" id="navbarTogglerDemo03">
                <a href="/"><img style="height:60px" alt="logo_corp" src="/image/logo.png"/></a>
            <p style="font-size: 1.5rem;">Nozama</p>
            </div> -->
            <a href="/"><img style="height:60px" alt="logo_corp" src="/image/logo.png"/></a>
            <p style="font-size: 1.5rem;">Nozama</p>
            <div class="collapse navbar-collapse image" id="navbarTogglerDemo03" style="font-family:'Bangers';     flex-direction: row;
            justify-content: space-evenly; ">
            
 
       
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"  style="font-family:'Bangers'; align-items: center;">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/produits">Produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">A propos</a>
                    </li>
                </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03"  style="justify-content: flex-end; font-family:'Bangers'">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" href="/panier">Panier</a>
                </li>   
                <li class="nav-item">
                        <a class="nav-link" href="/logout"><p class="nav-font">Me deconnecter</p></a>
                    </li>
                </div>
                </ul>
            </div>
        </nav>
        {% endif %}
        {% if app.user == null %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse image" id="navbarTogglerDemo03">
                <a href="/"><img style="height:100px" src="/image/logo.png"/></a>
            <p>Nozama</p>
            </div>
            <div class="collapse navbar-collapse connect" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Me connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">M'enregistrer</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endif %}
              {% endblock %}
              {% block body %}
        {% endblock %}
        {% block footer %}
        <footer class="footer mt-auto py-3 bg-light"> <p style="text-align: center;">
        Made by Thomas © Simplon 2022
        
        </p>
            </footer>
            {% endblock %}  
    </body>
</html>
